    <header>
        <nav class="navbar">
            <a href="/" class="logo-link">
                <div class="logo">
                    <svg width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="8" fill="#ff5500"/>
                        <path d="M10 20L20 10L30 20L20 30L10 20Z" fill="white"/>
                    </svg>
                    <span>Private Site</span>
                </div>
            </a>
            <ul class="nav-links" id="dynamic-nav">
                <!-- Links will be injected here by script.js -->
            </ul>
            <div class="menu-container">
                <li id="cms-li" class="hidden" style="list-style: none;"><a href="/cms" class="cta-button-secondary">CMS</a></li>
                
                <button id="menu-button" aria-haspopup="true" aria-expanded="false" aria-label="Toggle menu">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <ul id="dropdown-menu" class="hidden">
                    <li class="menu-auth-out"><a href="#" id="menu-login">Login</a></li>
                    <li class="menu-auth-out"><a href="#" id="menu-signup">Signup</a></li>
                    <li class="menu-auth-in hidden"><a href="/dashboard">Dashboard</a></li>
                    <li class="menu-auth-in hidden"><a href="#" id="menu-logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="auth-modal" class="modal hidden">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <div id="login-form-container">
                <h2>Login</h2>
                <form id="login-form">
                    <input type="text" id="login-username" placeholder="Username" required>
                    <input type="password" id="login-password" placeholder="Password" required>
                    <div id="login-error" class="error-message hidden"></div>
                    <button type="submit" class="cta-button">Login</button>
                    <p>Don't have an account? <a href="#" id="show-signup">Signup</a></p>
                </form>
            </div>
            <div id="signup-form-container" class="hidden">
                <h2>Signup</h2>
                <form id="signup-form">
                    <input type="text" id="signup-username" placeholder="Username" required>
                    <input type="password" id="signup-password" placeholder="Password" required>
                    <div id="signup-error" class="error-message hidden"></div>
                    <button type="submit" class="cta-button">Signup</button>
                    <p>Already have an account? <a href="#" id="show-login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
